@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #9501c0;
  --color-secondary: #03373d;
  --color-accent: #1E3A8A;
  --color-accent-content: #8b0000;
  --color-base-100: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
}
